.navbar {
  display: flex;
  gap: 25px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.navbar span {
  color: #ddd;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.navbar span.active {
  border-bottom: 1px solid #fff;
  color: #fff;
}