.footer {
  text-align: center;
  margin-top: 20px;  
  font-size: 12px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.footer img {
  height: 1em;
  margin-left: 6px;
  vertical-align: middle;
}